@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Eczar', serif;
    background: linear-gradient(to right, purple, blue);
}

.title {
    color: rgb(255, 255, 255);
}

#contact {
    /* height: 95vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 5px 5px 5px, 5px 5px 5px black;
}

.name {
    padding: 10px 0;
}

input {
    border: 2px solid darkred;
    /* border-color: rgb(255, 0, 0); */
    text-align: center;
    width: 400px;
    height: 20px;
}

textarea {
    width: 400px;
    border: 2px solid darkred;
    text-align: center;
    resize: none;
}

button {
    width: 15vh;
    height: 5vh;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bolder;
}

button:hover {
    background-color: rgb(27, 247, 255);
    cursor: pointer;
    border: none;
    color: black;
    transition: all 0.4s;
}

@media screen and (max-width:628px) {
    body {
        background: lightpink;
    }

    .form {
        padding: none;
        background: none;
        box-shadow: none;
    }

    input,
    textarea {
        width: 300px;
    }

}