@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Eczar', serif;
}

/* body::before {
    content: '';
    /* background: url(contact.jpg) no-repeat center center/cover; */
    background:linear-gradient(to right, purple, blue);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* filter: blur(10px); */
} */

.title {
    color: rgb(255, 255, 255);
}

#contact {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    padding: 20px 0;
    background-color: aliceblue;
    width: 60vh;
    text-align: center;
    box-shadow: 5px 5px 5px, 5px 5px 5px black;
}

.name {
    padding: 10px 0;
}

input {
    border: 2px solid darkred;
    /* border-color: rgb(255, 0, 0); */
    text-align: center;
    width: 35vh;
    height: 4vh;
}

textarea {
    border: 2px solid darkred;
    text-align: center;
    resize: none;
}

button {
    width: 15vh;
    height: 5vh;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

button:hover {
    background-color: rgb(35, 21, 188);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

footer {
    text-align: center;
    font-size: larger;
    color: aqua;
}

footer a {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 242, 255);
}


@media screen and (max-width:628px) {
    body{
        background: lightpink;
    }

    .form{
        background: none;
        box-shadow: none;
    }

    input, textarea{
        width: 300px;
    }

    footer {
        text-align: center;
        font-size: larger;
        color: rgb(0, 0, 0);
    }
    footer a {
        font-weight: bolder;
        text-decoration: none;
        color: rgb(255, 21, 0);
    }
}