@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Eczar', serif;
    /* background: linear-gradient(to right, purple, blue); */
    background-image: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 14.7%, rgba(89, 97, 223, 1) 88.7%);

}

.title {
    color: rgb(255, 255, 255);
}

#contact {
    height: 99.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 5px 5px 5px, 5px 5px 5px black;
}

.name {
    padding: 10px 0;
}

.Details {
    color: rgb(91, 26, 222);
    font-weight: bolder;
    text-decoration: underline;
}

input {
    border: 2px solid rgb(111, 111, 134);
    /* border-color: rgb(255, 0, 0); */
    text-align: center;
    width: 400px;
    height: 25px;
}

textarea {
    width: 400px;
    border: 2px solid rgb(111, 111, 134);
    text-align: center;
    resize: none;
}

button {
    margin: 20px 0;
    width: 47vh;
    height: 35px;
    background-color: rgb(91, 26, 222);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;
    border: 5px solid rgb(91, 26, 222);
}

button:hover {
    /* background-color: rgb(0, 4, 255); */
    border-color: rgb(91, 26, 222);
    background: none;
    border: 2px solid rgb(91, 26, 222);
    cursor: pointer;
    color: rgb(91, 26, 222);
    transition: all 0.4s;
}

@media screen and (max-width:628px) {
    body {
        /* background: rgb(255, 255, 255); */
        background-image: linear-gradient(102.4deg, rgb(200, 123, 1) 7.8%, rgb(170, 7, 179) 100.3%);
    }

    .form {
        /* border: 2px solid rgb(91, 26, 222); */
        padding: none;
        background: none;
        box-shadow: none;
    }

    input,
    textarea {
        width: 300px;
    }

    button {
        width: 300px;
    }

    .title {
        color: rgb(0, 0, 0);
    }

}